@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

 body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }

  header{
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: white;
  }
   
  #sub-header {
    text-align: center;
  }
  a {
    display: block;
  }
 
  .gallery {
    display: grid;
    grid-template-columns: 1fr; 
    text-align: center;
  }

   img {
    max-width: 100%;
   }
  
   .viewer {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); display: flex; justify-content: center; align-items: center; z-index: 1000;
   }
   .viewer button {
    position: absolute; top: 20px; right: 20px; font-size: 20px; background: white; border: none; padding: 5px 10px; cursor: pointer;
   }
  a:link, a:visited {
    color: var(--text-light);
  }

  .hide {
    display: none;
  }

  @media screen and (min-width: 700px)
    {
      .gallery {
        grid-template-columns: 1fr 1fr;
      }   
      a {
        display: none;
      }  
    }

    @media screen and (min-width: 850px)
    {
      .gallery {
        grid-template-columns: 1fr 1fr 1fr;
      }     
      a {
        display: inline-flex;
        padding-left: 50px;
        padding-right: 50px;

      }  
    }