@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #718787d0;
  --secondary-color: #734848;
  --accent1-color: #eeafaf;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #718787d0;  /* headlines on a white background */ 
  --headline-color-on-color: #f1eee7; /* headlines on a colored background */ 
  --paragraph-color-on-white: #734848; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #718787d0;
  --nav-link-color: white;
  --nav-background-color: #eeafaf;
  --nav-hover-link-color: #718787d0;
  --nav-hover-background-color: #f1eee7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  h2 {
    text-align: center;
  }

  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    text-align: center;
    /* padding: 1em; */
    font-size: 18px;

  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }  

body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2.9em;
    /* font-size: 18px; */
    text-align: center;
    background-color: #f1eee7;
  }

header{
    height: 450px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }

  nav {
    height: 90px;
    text-align: center;
    width: 100%;
  }

  a #logo {
    width: 100%;

  }
  
  .home-card{
    display: flex;
  }

  .home-card a img {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 80px;
    border: 2px solid #134266;
    transition: transform .5s;
}

.home-card a img:hover {
      opacity: .6;
      transform: scale(1.10);
   }

  #home-about-me {
    margin: 70px 17% 0px 18%
  }

  #home-about-me a img {
    width: 45%;
    float: left;
    display: block;
    margin-right: 3px;
    border: 2px solid #134266;
    transition: transform .5s;
}

#home-about-me a img:hover {
        opacity: .6;
        transform: scale(1.01);
     }
  
  #home-about-me h2 {
    text-align: left;
    margin: 7px;
    margin-bottom: 15px;
  }
  #home-about-me p {
    text-align: left;
    margin: 10px;
    margin-bottom: 15px;
  }

  #calendar-img{
    max-width: 50%;
}

footer{
    display: flex;
    margin: 80px 0;
    background-color: #734848;
    /* line-height: 3em; */
    text-align: center;
    /* font-size: 1.2em; */
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .button-box {
    background-color: #734848;
    line-height: 3em;
    text-align: center;
    /* font-size: 1.2em; */
    display: flex;
    justify-content: center;
    min-width: 120px;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px 0 10px;
    color: #f1eee7;
}

footer .button-box:hover{
    background-color: #f1eee7;
    line-height: 3em;
    text-align: center;
    /* font-size: 1.2em; */
    justify-content: center;
    min-width: 120px;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px 0 10px;
    color: #718787d0;
}

h5:visited, h5:link{
    text-decoration: none;
    color: #f1eee7;
}

h5{ 
    font-size: 18px;
    margin: 0;
    color: #f1eee7;
}
h6{
    font-size: 1.7em;
}